In [2]:
# We import the pandas and rename with the as keyword that we do in the modules in the python
import pandas as pd

DATA SETS -  Data sets can come in any form either a custome data set or any csv file or any other data form. Data Sets define what will we do with the data in the future work. We use the pandas which will ease our work to intrat with these types of the data sets and we can generate any type of the output according to our need.

2. We use the pandas and pandas turn these data sets into the data frames

Data Frames - Data Frames are in th form of tables, where the data will present in the tabular form and its easy to grasp for any one. The columns in the data frames we also called them series and data in the row called row as the same specified in any table.

In [3]:
# Creating the simple data set with the list
a = [1,2,3,4,5,6,7,8,9,0]
# Now we are using the Seires function to create a column

result = pd.Series(a)

print(result)

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
9    0
dtype: int64

As we can see that the data from the list are generated as the column with the help of Series class. One more thing as you can see with the generated data it also print the index number of the data. We can use the index attribute to gave them the specified name to each index number.

In [4]:
result = pd.Series(a, index=("a","b","c","d","e","f","g","h","i","j"))
print(result)

a    1
b    2
c    3
d    4
e    5
f    6
g    7
h    8
i    9
j    0
dtype: int64

We can also access these data sets by their index number or the label we specified them

We can also use the dictinary as an data sets

In [5]:
data = {"day1": 420, "day2": 380, "day3": 390}

result = pd.Series(data)

print(result)

day1    420
day2    380
day3    390
dtype: int64

Note the keys of the dictionary becomes the labels

We can also select only the sepcific items from the data sets by the Series class

In [7]:
result = pd.Series(data, index = ["day1", "day2"])

print(result)

day1    420
day2    380
dtype: int64

DATA FRAMES

The data sets are multi-dimensional form of the table and also we can call them the data frames

Series is like a column, a DataFrame is the whole table

In [8]:
data = {
  "name": ["Iron Man", "Captain America", "Avatar"],
  "duration": [120, 125, 400]
}

result = pd.DataFrame(data)

print(result)

              name  duration
0         Iron Man       120
1  Captain America       125
2           Avatar       400

As you can see that we use the DataFrame class to create the tabular form of the data and also ther index numbers