DATA FRAMES

The data sets are multi-dimensional form of the table and also we can call them the data frames

Series is like a column, a DataFrame is the whole table

In [2]:
import pandas as pd

In [6]:
data = {
  "products": ["Pizza", "Burger", "Spring Roles"],
  "price": [50, 40, 45]
}

#load data into a DataFrame object:
r = pd.DataFrame(data)

In [7]:
print(r)

       products  price
0         Pizza     50
1        Burger     40
2  Spring Roles     45

Locate any Row in the DataFrames

In [8]:
print(r.loc[0])

products    Pizza
price          50
Name: 0, dtype: object

Pandas use the loc function to locate any row data according to the index number

We can also locate multiple rows according to multiple index numbers

In [10]:
print(r.loc[[0, 1]])

  products  price
0    Pizza     50
1   Burger     40

We can also named their inde number as a custom index names

In [11]:
data = {
  "products": ["Pizza", "Burger", "Spring Roles"],
  "price": [50, 40, 45]
}

#load data into a DataFrame object:
r = pd.DataFrame(data, index = ["a","b","c"])

In [12]:
print(r)

       products  price
a         Pizza     50
b        Burger     40
c  Spring Roles     45