In [2]:
import pandas as pd

# Different methods of loc

1. The loc property is used to access a group of rows and columns by label(s) or a boolean array.

.loc[] is primarily label based, but may also be used with a boolean array.

Allowed inputs are:

A single label, e.g. 5 or 'a', (note that 5 is interpreted as a label of the index, and never as an integer position along the index).
A list or array of labels, e.g. ['a', 'b', 'c'].
A slice object with labels, e.g. 'a':'f'.
A boolean array of the same length as the axis being sliced, e.g. [True, False, True].
A callable function with one argument (the calling Series or DataFrame) and that returns valid output for indexing (one of the above)
Syntax:
DataFrame.loc

In [3]:
df = pd.DataFrame([[2, 3], [5, 6], [8, 9]],
     index=['cobra', 'viper', 'sidewinder'],
     columns=['max_speed', 'shield'])
df

            max_speed  shield
cobra               2       3
viper               5       6
sidewinder          8       9

1. Single label:

In [4]:
df.loc['viper']

max_speed    5
shield       6
Name: viper, dtype: int64

2. List of labels:

In [5]:
df.loc[['viper', 'sidewinder']]

            max_speed  shield
viper               5       6
sidewinder          8       9

3.Single label for row and column:

In [6]:
df.loc['cobra', 'shield']

3

4. Slice with labels for row and single label for column. As mentioned above, note that both
the start and stop of the slice are included.

In [7]:
df.loc['cobra':'viper', 'max_speed']

cobra    2
viper    5
Name: max_speed, dtype: int64

5. Boolean list with the same length as the row axis:

In [8]:
df.loc[[False, False, True]]

            max_speed  shield
sidewinder          8       9

# Conditional that returns a boolean Series

In [9]:
df.loc[df['shield'] > 6]

            max_speed  shield
sidewinder          8       9

Conditional that returns a boolean Series with column labels specified:

In [10]:
df.loc[df['shield'] > 6, ['max_speed']]

            max_speed
sidewinder          8

Callable that returns a boolean Series:

In [12]:
df.loc[lambda df: df['shield'] == 6]

       max_speed  shield
viper          5       6

# Setting values

Set value for all items matching the list of labels:

In [13]:
df.loc[['viper', 'sidewinder'], ['shield']] = 30
df

            max_speed  shield
cobra               2       3
viper               5      30
sidewinder          8      30

Set value for an entire row:

In [16]:
df.loc['cobra'] =10

In [17]:
df

            max_speed  shield
cobra              10      10
viper               5      30
sidewinder          8      30

Set value for an entire column:

In [18]:
df.loc[:, 'max_speed'] = 30
df

            max_speed  shield
cobra              30      10
viper              30      30
sidewinder         30      30

Set value for rows matching callable condition:

In [19]:
df.loc[df['shield'] > 35] = 0
df

            max_speed  shield
cobra              30      10
viper              30      30
sidewinder         30      30

# Getting values on a DataFrame with an index that has integer labels

In [20]:
df = pd.DataFrame([[2, 3], [5, 6], [8, 9]],
     index=[2, 3, 4], columns=['max_speed', 'shield'])
df

   max_speed  shield
2          2       3
3          5       6
4          8       9

Slice with integer labels for rows. As mentioned above, note that both the start and stop
of the slice are included:

In [22]:
df.loc[2:3]

   max_speed  shield
2          2       3
3          5       6

# Getting values with a MultiIndex

A number of examples using a DataFrame with a MultiIndex:

In [23]:
tuples = [
   ('cobra', 'm1'), ('cobra', 'm2'),
   ('sidewinder', 'm1'), ('sidewinder', 'm2'),
   ('viper', 'm2'), ('viper', 'm3')
]

In [24]:
index = pd.MultiIndex.from_tuples(tuples)
values = [[14, 4], [0, 6], [20, 30],
         [2, 4], [5, 1], [26, 46]]

In [25]:
df = pd.DataFrame(values, columns=['max_speed', 'shield'], index=index)
df

               max_speed  shield
cobra      m1         14       4
           m2          0       6
sidewinder m1         20      30
           m2          2       4
viper      m2          5       1
           m3         26      46

In [26]:
df.loc['cobra']

    max_speed  shield
m1         14       4
m2          0       6

In [27]:
#Single index tuple:

df.loc[('cobra', 'm2')]

max_speed    0
shield       6
Name: (cobra, m2), dtype: int64

In [28]:
# Single tuple:

df.loc[[('cobra', 'm2')]]

          max_speed  shield
cobra m2          0       6

In [29]:
# Single tuple for the index with a single label for the column:

df.loc[('cobra', 'm1'), 'shield']

4

In [30]:
# Slice from index tuple to single label:
df.loc[('cobra', 'm1'):'viper']

               max_speed  shield
cobra      m1         14       4
           m2          0       6
sidewinder m1         20      30
           m2          2       4
viper      m2          5       1
           m3         26      46

In [32]:
# Slice from index tuple to index tuple:

df.loc[('cobra', 'm2'):('viper', 'm2')]

               max_speed  shield
cobra      m2          0       6
sidewinder m1         20      30
           m2          2       4
viper      m2          5       1